<a href="https://colab.research.google.com/github/innsvi/python_for_ds_task/blob/main/hw_10_4_apply%2C_groupby%2C_pivot_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df = pd.read_csv('/content/drive/MyDrive/data/supermarket_sales.csv')
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [6]:
print(df.head(5))

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product line  Unit price  Quantity   Tax 5%     Total       Date  \
0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019

    Time      Payment    cogs  gross margin percentage  gross income  Rating
0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
1  10:29         Cash   76.40                 4.761905        3.8200     9.6
2  13:23  Credit card  324.31                 4.761905       16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905       23.2880     8.4
4  10:37      Ewallet  604.17                 4.761905       30.2085     5.3

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [7]:
bette_branch = df.groupby('Branch').sum()['gross income']
bette_branch

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [8]:
branch_profit = df.groupby(['Branch', 'City'])['gross income'].sum().reset_index()

branch_profit = branch_profit.sort_values(by='gross income', ascending=False)

most_profitable = branch_profit.iloc[0]

print(f"–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª: {most_profitable['Branch']}")
print(f"–ú—ñ—Å—Ç–æ: {most_profitable['City']}")
print(f"–ó–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫: {most_profitable['gross income']:.2f}")

–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª: C
–ú—ñ—Å—Ç–æ: Naypyitaw
–ó–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫: 5265.18

In [9]:

print("\n–ü–æ—Ä—ñ–≤–Ω—è–Ω–Ω—è –≤—Å—ñ—Ö —Ñ—ñ–ª—ñ–∞–ª—ñ–≤:")
print(branch_profit)

–ü–æ—Ä—ñ–≤–Ω—è–Ω–Ω—è –≤—Å—ñ—Ö —Ñ—ñ–ª—ñ–∞–ª—ñ–≤:
  Branch       City  gross income
2      C  Naypyitaw     5265.1765
0      A     Yangon     5057.1605
1      B   Mandalay     5057.0320

In [10]:
# –ø–æ—Ä–∞—Ö—É—î–º–æ –∫—ñ–ª—å–∫—ñ—Å—Ç—å —á–µ–∫—ñ–≤ —Ç–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –¥–ª—è –∫–æ–∂–Ω–æ–≥–æ –º—ñ—Å—Ç–∞
branch_stats = df.groupby('City').agg({
    'Invoice ID': 'count',      # –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø—Ü—ñ–≤
    'gross income': 'mean',     # —Å–µ—Ä–µ–¥–Ω—ñ–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑ –æ–¥–Ω–æ–≥–æ —á–µ–∫–∞
    'Rating': 'mean'            # —Å–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥
}).rename(columns={'Invoice ID': 'Transactions_Count'})

print(branch_stats)

           Transactions_Count  gross income    Rating
City
Mandalay                  332     15.232024  6.818072
Naypyitaw                 328     16.052367  7.072866
Yangon                    340     14.874001  7.027059

–Ø–∫—â–æ —á–µ—Å–Ω–æ, —Ç–æ –∑ –æ—Å—Ç–∞–Ω–Ω—ñ—Ö –¥–∞–Ω–∏—Ö –≤–∏–≥–ª—è–¥–∞—î —Ç–∞–∫, —à–æ –≤—ñ–¥–∫—Ä–∏–≤–∞—Ç–∏ –º–∞–∑–∞–∑–∏–Ω —É  Naypyitaw –ø–æ–∫–∏ –Ω–µ–º–∞—î –æ—Å–æ–±–ª–∏–≤–æ —Å–µ–Ω—Å—É, –±–æ –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ–π –Ω–µ –Ω–∞–±–∞–≥–∞—Ç–æ –≤–∏—â–∞ –∑–∞ —ñ–Ω—â—ñ –º—ñ—Å—Ç–∞.

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [11]:
invoices_by_category = df.pivot_table(index='Product line',
                                     columns='Branch',
                                     values='Invoice ID',
                                     aggfunc='count')

invoices_by_category

Branch                   A   B   C
Product line
Electronic accessories  60  55  55
Fashion accessories     51  62  65
Food and beverages      58  50  66
Health and beauty       47  53  52
Home and lifestyle      65  50  45
Sports and travel       59  62  45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [12]:
best_branch_electronics = invoices_by_category.loc['Electronic accessories'].idxmax()

max_value = invoices_by_category.loc['Electronic accessories'].max()

print(f"–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø—Ä–æ–¥–∞–∂—ñ–≤ –µ–ª–µ–∫—Ç—Ä–æ–Ω—ñ–∫–∏: {best_branch_electronics}")
print(f"–ö—ñ–ª—å–∫—ñ—Å—Ç—å —ñ–Ω–≤–æ–π—Å—ñ–≤: {max_value}")

–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø—Ä–æ–¥–∞–∂—ñ–≤ –µ–ª–µ–∫—Ç—Ä–æ–Ω—ñ–∫–∏: A
–ö—ñ–ª—å–∫—ñ—Å—Ç—å —ñ–Ω–≤–æ–π—Å—ñ–≤: 60

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

–ü–ò–¢–ê–ù–ù–Ø-–ì–Ü–ü–û–¢–ï–ó–ê –Ω–æ–º–µ—Ä 1: –í —è–∫—ñ –¥–Ω—ñ —Ç–∏–∂–Ω—è –∫–æ–¥–µ–Ω —Ñ—ñ–ª—ñ–∞–æ –º–∞—î –Ω–∞–π–±—ñ–ª—å—à—É –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø—Ü—ñ–≤. –ú–∞—é—á–∏ —Ü—ñ –¥–∞–Ω—ñ –∑–º–æ–∂–µ–º–æ –∑—Ä–æ–±–∏—Ç–∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –º–µ–Ω–µ–¥–∂–º–µ–Ω—Ç—É, —â–æ –ø–æ—Ç—Ä—ñ–±–Ω–æ –≤ –¥–Ω—ñ –Ω–∞–π–±—ñ–ª—å—à–æ—ó –∑–∞–≤–∞–Ω–∏–∞–∂–µ–Ω–Ω–æ—Å—Ç—ñ –≤–∏–≤–µ—Å—Ç–∏ –Ω–∞ —Ä–æ—å–æ—Ç—É –±—ñ–ª—å—à–µ –∫–∞—Å–∏—Ä—ñ–≤ –¥–ª—è –∑–±—ñ–ª—å—à–µ–Ω–Ω—è –ø—Ä–æ–ø—É—Å–∫–Ω–æ—ó –∑–¥–∞—Ç–Ω–æ—Å—Ç—ñ –º–∞–≥–∞–∑–∏–Ω—É —ñ —á–µ–∫—É –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ.

In [13]:
df['Date'] = pd.to_datetime(df['Date'])
df['Day_of_Week'] = df['Date'].dt.day_name()

weekly_load = df.groupby(['Branch', 'Day_of_Week'])['Invoice ID'].count().unstack()

print("–ó–∞–≤–∞–Ω—Ç–∞–∂–µ–Ω—ñ—Å—Ç—å —Ñ—ñ–ª—ñ–∞–ª—ñ–≤ –ø–æ –¥–Ω—è—Ö —Ç–∏–∂–Ω—è:")
weekly_load

–ó–∞–≤–∞–Ω—Ç–∞–∂–µ–Ω—ñ—Å—Ç—å —Ñ—ñ–ª—ñ–∞–ª—ñ–≤ –ø–æ –¥–Ω—è—Ö —Ç–∏–∂–Ω—è:

Day_of_Week  Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
Branch
A                50      48        50      52        46       51         43
B                51      39        60      35        44       53         50
C                38      38        54      46        48       54         50

–§—ñ–ª—ñ–∞–ª B –º–∞—î –∞–±—Å–æ–ª—é—Ç–Ω–∏–π –ø—ñ–∫ —É —Å—É–±–æ—Ç—É (60 —á–µ–∫—ñ–≤). –¶–µ –Ω–∞ 71% –±—ñ–ª—å—à–µ –∑–∞ –π–æ–≥–æ –∂ –ø–æ–∫–∞–∑–Ω–∏–∫ —É –Ω–µ–¥—ñ–ª—é (35). –î–ª—è –±—ñ–∑–Ω–µ—Å—É —Ü–µ —Å–∏–≥–Ω–∞–ª, —â–æ —É —Å—É–±–æ—Ç—É –≤ —Ñ—ñ–ª—ñ–∞–ª—ñ B –º–∞—é—Ç—å –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –≤—Å—ñ –∫–∞—Å–∏, —Ç–æ–¥—ñ —è–∫ —É –Ω–µ–¥—ñ–ª—é —á–∞—Å—Ç–∏–Ω—É –ø–µ—Ä—Å–æ–Ω–∞–ª—É –º–æ–∂–Ω–∞ –≤—ñ–¥–ø—Ä–∞–≤–∏—Ç–∏ –Ω–∞ –≤–∏—Ö—ñ–¥–Ω–∏–π –∞–±–æ –ø–µ—Ä–µ–Ω–∞–ø—Ä–∞–≤–∏—Ç–∏ –Ω–∞ –≤–∏–∫–ª–∞–¥–∫—É —Ç–æ–≤–∞—Ä—É.

–ü–ò–¢–ê–ù–ù–Ø - –ì–Ü–ü–û–¢–ï–ó–ê –Ω–æ–º–µ—Ä 2: –Ø–∫—ñ –¥–Ω—ñ —î –Ω–∞–π–±—ñ–ª—å—à –ø—Ä–æ–≤–∞–ª—å–Ω–∏–º–∏ –¥–ª—è —Ñ—ñ–ª—ñ–∞–ª—ñ–≤, —ñ —á–∏ –ø–æ—Ç—Ä–µ–±—É—é—Ç—å –≤–æ–Ω–∏ —Å—Ç–∏–º—É–ª—é–≤–∞–Ω–Ω—è –ø–æ–ø–∏—Ç—É?

In [14]:
low_days = weekly_load.idxmin(axis=1)
low_values = weekly_load.min(axis=1)

for branch, day in low_days.items():
    print(f"–§—ñ–ª—ñ–∞–ª {branch}: –°–ø–∞–¥ —É {day} ({low_values[branch]} –ø–æ–∫—É–ø–æ–∫)")

–§—ñ–ª—ñ–∞–ª A: –°–ø–∞–¥ —É Wednesday (43 –ø–æ–∫—É–ø–æ–∫)
–§—ñ–ª—ñ–∞–ª B: –°–ø–∞–¥ —É Sunday (35 –ø–æ–∫—É–ø–æ–∫)
–§—ñ–ª—ñ–∞–ª C: –°–ø–∞–¥ —É Friday (38 –ø–æ–∫—É–ø–æ–∫)

**–í–∏—Å–Ω–æ–≤–∫–∏:**

- –§—ñ–ª—ñ–∞–ª B (–ù–µ–¥—ñ–ª—è ‚Äî 35 –ø–æ–∫—É–ø–æ–∫): –¶–µ –Ω–∞–π–±—ñ–ª—å—à –∫—Ä–∏—Ç–∏—á–Ω–∏–π —Å–ø–∞–¥, –æ—Å–∫—ñ–ª—å–∫–∏ –≤ —Å—É–±–æ—Ç—É —Ü–µ–π –∂–µ —Ñ—ñ–ª—ñ–∞–ª –º–∞—î 60 –ø–æ–∫—É–ø–æ–∫ (–º–∞–π–∂–µ –≤–¥–≤—ñ—á—ñ –±—ñ–ª—å—à–µ).

–†—ñ—à–µ–Ω–Ω—è: –ù–µ–æ–±—Ö—ñ–¥–Ω–æ –∑–∞–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ –∞–∫—Ü—ñ—é ¬´–°—ñ–º–µ–π–Ω–∞ –Ω–µ–¥—ñ–ª—è¬ª –∞–±–æ –Ω–∞–¥–∞—Ç–∏ –∫—É–ø–æ–Ω–∏ –Ω–∞ –∑–Ω–∏–∂–∫—É, —è–∫—ñ –¥—ñ—é—Ç—å –ª–∏—à–µ –≤ –Ω–µ–¥—ñ–ª—é, —â–æ–± –≤–∏—Ä—ñ–≤–Ω—è—Ç–∏ –ø–æ—Ç—ñ–∫ –∫–ª—ñ—î–Ω—Ç—ñ–≤.

- –§—ñ–ª—ñ–∞–ª C (–ü'—è—Ç–Ω–∏—Ü—è ‚Äî 38 –ø–æ–∫—É–ø–æ–∫): –°–ø–∞–¥ –ø–µ—Ä–µ–¥ –≤–∏—Ö—ñ–¥–Ω–∏–º–∏ —î –Ω–µ—Ç–∏–ø–æ–≤–∏–º.

–†—ñ—à–µ–Ω–Ω—è: –ú–æ–∂–ª–∏–≤–æ, –≤–∞—Ä—Ç–æ –∑–º—ñ–Ω–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Ç–æ–≤–∞—Ä—ñ–≤ –¥–ª—è –≤—ñ–¥–ø–æ—á–∏–Ω–∫—É –∞–±–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ –ø—Ä–æ–º–æ-–∞–∫—Ü—ñ—é ¬´–ì–æ—Ç—É–π—Å—è –¥–æ –≤–∏—Ö—ñ–¥–Ω–∏—Ö¬ª, —â–æ–± –∑–∞–ª—É—á–∏—Ç–∏ –ª—é–¥–µ–π —É –ø'—è—Ç–Ω–∏—Ü—é.

- –§—ñ–ª—ñ–∞–ª A (–°–µ—Ä–µ–¥–∞ ‚Äî 43 –ø–æ–∫—É–ø–∫–∏): –ù–∞–π–º–µ–Ω—à–∏–π —Å–ø–∞–¥ —Å–µ—Ä–µ–¥ —É—Å—ñ—Ö —Ñ—ñ–ª—ñ–∞–ª—ñ–≤.

–†—ñ—à–µ–Ω–Ω—è: –¶–µ–π —Ñ—ñ–ª—ñ–∞–ª –¥–µ–º–æ–Ω—Å—Ç—Ä—É—î –Ω–∞–π–≤–∏—â—É —Å—Ç–∞–±—ñ–ª—å–Ω—ñ—Å—Ç—å, —Ç–æ–º—É —Ç—É—Ç –º–æ–∂–Ω–∞ –ø—Ä–æ–≤–æ–¥–∏—Ç–∏ —Ç–µ—Ö–Ω—ñ—á–Ω—ñ —Ä–æ–±–æ—Ç–∏ –∞–±–æ —ñ–Ω–≤–µ–Ω—Ç–∞—Ä–∏–∑–∞—Ü—ñ—é —Å–∞–º–µ –≤ —Å–µ—Ä–µ–¥—É –∑ –º—ñ–Ω—ñ–º–∞–ª—å–Ω–∏–º–∏ –≤—Ç—Ä–∞—Ç–∞–º–∏ –ø—Ä–∏–±—É—Ç–∫—É.

–ü–ò–¢–ê–ù–ù–Ø - –ì–Ü–ü–û–¢–ï–ó–ê –Ω–æ–º–µ—Ä 3: –ß–∏ –ø—Ä–∏–Ω–æ—Å—è—Ç—å –ª–æ—è–ª—å–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ (Members) —Å—É—Ç—Ç—î–≤–æ –≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫, –Ω—ñ–∂ –∑–≤–∏—á–∞–π–Ω—ñ –ø–æ–∫—É–ø—Ü—ñ (Normal), —É –∫–æ–∂–Ω–æ–º—É –∑ –º—ñ—Å—Ç?

In [15]:
loyalty_impact = df.pivot_table(index='City',
                                columns='Customer type',
                                values='Total',
                                aggfunc='mean')

loyalty_impact['Benefit_%'] = ((loyalty_impact['Member'] - loyalty_impact['Normal']) / loyalty_impact['Normal'] * 100).round(2)

print("–ê–Ω–∞–ª—ñ–∑ —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ —á–µ–∫–∞ (Member vs Normal):")
loyalty_impact

–ê–Ω–∞–ª—ñ–∑ —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ —á–µ–∫–∞ (Member vs Normal):

Customer type      Member      Normal  Benefit_%
City
Mandalay       325.482945  314.329257       3.55
Naypyitaw      336.575636  337.656755      -0.32
Yangon         321.182488  303.831763       5.71

- Yangon ‚Äî —É—Å–ø—ñ—Ö –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ:
–¢—É—Ç –ø—Ä–æ–≥—Ä–∞–º–∞ –ø—Ä–∞—Ü—é—î –Ω–∞–π–∫—Ä–∞—â–µ: Benefit +5.71%. –ü–æ—Å—Ç—ñ–π–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ –∫—É–ø—É—é—Ç—å —É —Å–µ—Ä–µ–¥–Ω—å–æ–º—É –Ω–∞ 321.18, —Ç–æ–¥—ñ —è–∫ –∑–≤–∏—á–∞–π–Ω—ñ ‚Äî –Ω–∞ 303.83.

–†—ñ—à–µ–Ω–Ω—è: –î–æ—Å–≤—ñ–¥ –Ø–Ω–≥–æ–Ω–∞ –≤–∞—Ä—Ç–æ –º–∞—Å—à—Ç–∞–±—É–≤–∞—Ç–∏ –Ω–∞ —ñ–Ω—à—ñ –º—ñ—Å—Ç–∞.

- Naypyitaw ‚Äî –∞–Ω–æ–º–∞–ª—ñ—è:—Ç—É—Ç –º–∏ –±–∞—á–∏–º–æ –≤—ñ–¥'—î–º–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç (-0.32%). –í–ª–∞—Å–Ω–∏–∫–∏ –∫–∞—Ä—Ç–æ–∫ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –Ω–∞–≤—ñ—Ç—å —Ç—Ä–æ—Ö–∏ –º–µ–Ω—à–µ (336.57), –Ω—ñ–∂ –≤–∏–ø–∞–¥–∫–æ–≤—ñ –ø–æ–∫—É–ø—Ü—ñ (337.65).

–í–∏—Å–Ω–æ–≤–æ–∫: –£ —Ü—å–æ–º—É –º—ñ—Å—Ç—ñ –ø—Ä–æ–≥—Ä–∞–º–∞ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –∑–∞—Ä–∞–∑ –Ω–µ –º–∞—î —Ñ—ñ–Ω–∞–Ω—Å–æ–≤–æ–≥–æ —Å–µ–Ω—Å—É. –ú–æ–∂–ª–∏–≤–æ, –±–æ–Ω—É—Å–∏ –Ω–µ —Å—Ç–∏–º—É–ª—é—é—Ç—å –¥–æ –≤–µ–ª–∏–∫–∏—Ö –ø–æ–∫—É–ø–æ–∫, –∞–±–æ –∫–ª—ñ—î–Ω—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å –∫–∞—Ä—Ç–∫—É –ª–∏—à–µ –¥–ª—è –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –∑–Ω–∏–∂–∫–∏ –Ω–∞ –¥—Ä—ñ–±–Ω–∏—Ü—ñ.

- Mandalay: –ø–æ–º—ñ—Ä–Ω–∏–π –ø—Ä–∏—Ä—ñ—Å—Ç —É 3.55%. –ü—Ä–æ–≥—Ä–∞–º–∞ –ø—Ä–∞—Ü—é—î, –∞–ª–µ —î –∫—É–¥–∏ —Ä–æ—Å—Ç–∏.